In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/House Price India.csv')
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
df['Price'].uniqu

array([2380000, 1400000, 1200000, ...,  221700,  219200,  146000])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df['Price']=le.fit_transform(df['Price'])

In [ ]:
df['Price'].unique()

array([2849, 2768, 2748, ...,  284,  277,   60])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
x=df.drop('Built Year',axis=1)
x.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the basement,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,280,0,122003,52.8645,-114.557,2880,5400,2,58,2849
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1010,0,122004,52.8878,-114.470,2470,4000,2,51,2768
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,0,0,122004,52.8852,-114.468,2940,6600,1,53,2748
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,0,0,122005,52.9532,-114.321,3350,42847,3,76,2487
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,830,0,122006,52.9047,-114.485,2060,4500,1,51,2420

In [ ]:
y=df['Built Year']
y

0        1921
1        1909
2        1939
3        2001
4        1929
         ...
14615    1957
14616    1968
14617    1962
14618    1955
14619    1969
Name: Built Year, Length: 14620, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=12)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
reg=Sequential()
reg.add(Dense(4,activation='relu'))
reg.add(Dense(12,activation='relu'))
reg.add(Dense(32,activation='relu'))
reg.add(Dense(1,activation='linear'))

In [ ]:
reg.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [33]:
reg.fit(xtrain,ytrain,batch_size=10,epochs=25,validation_data=(xtest,ytest))

Epoch 1/25
1170/1170 [==============================] - 5s 3ms/step - loss: 2286727987200.0000 - mse: 2286727987200.0000 - val_loss: 74394832.0000 - val_mse: 74394832.0000
Epoch 2/25
1170/1170 [==============================] - 3s 3ms/step - loss: 968629354496.0000 - mse: 968629354496.0000 - val_loss: 261961936.0000 - val_mse: 261961936.0000
Epoch 3/25
1170/1170 [==============================] - 3s 2ms/step - loss: 1146439204864.0000 - mse: 1146439204864.0000 - val_loss: 6227584090112.0000 - val_mse: 6227584090112.0000
Epoch 4/25
1170/1170 [==============================] - 3s 3ms/step - loss: 884389314560.0000 - mse: 884389314560.0000 - val_loss: 16840102248448.0000 - val_mse: 16840102248448.0000
Epoch 5/25
1170/1170 [==============================] - 3s 3ms/step - loss: 978268651520.0000 - mse: 978268651520.0000 - val_loss: 884244800.0000 - val_mse: 884244800.0000
Epoch 6/25
1170/1170 [==============================] - 3s 2ms/step - loss: 817394745344.0000 - mse: 817394745344.0000 - val_loss: 112182837248.0000 - val_mse: 112182837248.0000
Epoch 7/25
1170/1170 [==============================] - 3s 3ms/step - loss: 849599987712.0000 - mse: 849599987712.0000 - val_loss: 2729305088.0000 - val_mse: 2729305088.0000
Epoch 8/25
1170/1170 [==============================] - 3s 2ms/step - loss: 814885044224.0000 - mse: 814885044224.0000 - val_loss: 140787280.0000 - val_mse: 140787280.0000
Epoch 9/25
1170/1170 [==============================] - 4s 3ms/step - loss: 734378983424.0000 - mse: 734378983424.0000 - val_loss: 10780030976.0000 - val_mse: 10780030976.0000
Epoch 10/25
1170/1170 [==============================] - 3s 3ms/step - loss: 737678983168.0000 - mse: 737678983168.0000 - val_loss: 2772800634880.0000 - val_mse: 2772800634880.0000
Epoch 11/25
1170/1170 [==============================] - 3s 2ms/step - loss: 621190053888.0000 - mse: 621190053888.0000 - val_loss: 12525332480.0000 - val_mse: 12525332480.0000
Epoch 12/25
1170/1170 [==============================] - 3s 2ms/step - loss: 681424584704.0000 - mse: 681424584704.0000 - val_loss: 30580025344.0000 - val_mse: 30580025344.0000
Epoch 13/25
1170/1170 [==============================] - 4s 4ms/step - loss: 630445506560.0000 - mse: 630445506560.0000 - val_loss: 127383445504.0000 - val_mse: 127383445504.0000
Epoch 14/25
1170/1170 [==============================] - 4s 3ms/step - loss: 552136736768.0000 - mse: 552136736768.0000 - val_loss: 23279446.0000 - val_mse: 23279446.0000
Epoch 15/25
1170/1170 [==============================] - 3s 3ms/step - loss: 563641450496.0000 - mse: 563641450496.0000 - val_loss: 49716256768.0000 - val_mse: 49716256768.0000
Epoch 16/25
1170/1170 [==============================] - 3s 2ms/step - loss: 509402677248.0000 - mse: 509402677248.0000 - val_loss: 825168232448.0000 - val_mse: 825168232448.0000
Epoch 17/25
1170/1170 [==============================] - 3s 3ms/step - loss: 466864373760.0000 - mse: 466864373760.0000 - val_loss: 942282637312.0000 - val_mse: 942282637312.0000
Epoch 18/25
1170/1170 [==============================] - 4s 3ms/step - loss: 415942574080.0000 - mse: 415942574080.0000 - val_loss: 22112294.0000 - val_mse: 22112294.0000
Epoch 19/25
1170/1170 [==============================] - 3s 3ms/step - loss: 371192823808.0000 - mse: 371192823808.0000 - val_loss: 697473472.0000 - val_mse: 697473472.0000
Epoch 20/25
1170/1170 [==============================] - 3s 2ms/step - loss: 349260775424.0000 - mse: 349260775424.0000 - val_loss: 11453566976.0000 - val_mse: 11453566976.0000
Epoch 21/25
1170/1170 [==============================] - 3s 3ms/step - loss: 367478996992.0000 - mse: 367478996992.0000 - val_loss: 137929637888.0000 - val_mse: 137929637888.0000
Epoch 22/25
1170/1170 [==============================] - 3s 3ms/step - loss: 230480543744.0000 - mse: 230480543744.0000 - val_loss: 219566325760.0000 - val_mse: 219566325760.0000
Epoch 23/25
1170/1170 [==============================] - 4s 3ms/step - loss: 353957806080.0000 - mse: 353957806080.0000 - val_loss: 39014162432.0000 - val_mse: 39014162432.0000
Epoch 24/25
1170/1170 [==============================] - 3s 3ms/step - loss: 210428313600.0000 - mse: 210428313600.0000 - val_loss: 7984947200.0000 - val_mse: 7984947200.0000
Epoch 25/25
1170/1170 [==============================] - 3s 3ms/step - loss: 212085751808.0000 - mse: 212085751808.0000 - val_loss: 5059212288.0000 - val_mse: 5059213312.0000